$FontPathOpenSans: '/css/fonts/open-sans';
$font-family-primary: 'Open Sans', sans-serif;
$font-weight-normal: 400;
$font-weight-bold: 700;
$global-font-size: 15px;
$global-line-height: 1.414;
$global-page-background-color: #ffffff;
